<div class="body container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Pipes: definición</h1>
        </div>
        <div>
            <p>
                Las pipes o tambien llamadas tuberías son funciones de filtrado que se usan en el archivo
                HTML de nuestro componente, cuyo objetivo es transformar un dato a mostrar.
            </p>
            <p>
                Angular trae por defecto una cantidad reducida de pipes las cuales podemos hacer uso de ellas,
                lo mas interesante de las pipes es que podemos crear pipes propias.
            </p>
            <h3>Pipes de Angular:</h3>
            <li>
                <ul>Async</ul>
                <ul>Decimal</ul>
                <ul>Json</ul>
                <ul>Uppercase</ul>
                <ul>Lowercase</ul>
                <ul>TitleCase</ul>
                <ul>Date</ul>
            </li>
            <p>Como usarlos es tan simple como escribir | dentro de las llaves y luego el nombre del pipe en minuscula</p>
            <p>Ejemplo de upper case: {{ nombre | uppercase}}</p>
        </div>        
    </div>
</div>