/* ---HEADER--- */
header {
    background-color: #E20074;
    color: white;
    padding: 25px;
    margin-bottom: 0px;
}

header ul{
    padding: 0px;
}

header ul li {
    display: inline-block;
    margin-right: 5px;
}

menu{
    float: right;
}